# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual Environments ---
.venv/
venv/
ENV/

# --- Editor / OS ---
.DS_Store
.idea/
.vscode/
*.sublime*

# --- Logs & Reports ---
*.log

# --- Env & Secrets ---
.env
*.env

# --- Cache ---
.cache/

# --- Unit test cache ---
.pytest_cache/

# --- Database files ---
*.sqlite3
*.db

# --- Build / Dist ---
build/
dist/
*.egg-info/

# --- Docker ---
**/docker/volumes/
