POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

HUGGINGFACE_API_TOKEN=hf_your_token_here

DATABASE_URL = 
FROM_EMAIL = AI News Digest <your_mail_id>
RECIPIENT_EMAIL = 
SENDER_EMAIL = 
SMTP_HOST = smtp.gmail.com
SMTP_PASSWORD = APP_PASSWORD
SMTP_PORT = 587
SMTP_USER = 

VITE_API_BASE_URL = #after deploying in render (Env variable in frontend)
